@{
    ViewData["Title"] = Localizer["Title"];
}

<h1>@Localizer["Title"]</h1>

<div class="text-center">
    @if (!(User.Identity?.IsAuthenticated ?? false))
    {
        <h1 class="display-4">@Localizer["Welcome"]</h1>
        <div>
            <form method="post" asp-controller="Account" asp-action="Login">
                <input class="form-text" type="text" name="login"/>
                <input type="submit" value="@Localizer["Login"]" class="btn btn-danger" />
            </form>
        </div>
    }
</div>
